.images {
    margin: 0 auto;
    width: 800px;
    display: flex;
    overflow: hidden;
}

img {
    width: 100%;
    position: relative;
    transition: 0.8s;
}

.button a {
    text-decoration: none !important;
    color: white;
    background: black;
    padding: 5px;
    border-radius: 30px;
}